*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wapper{
    // max-width:  1440px;

    font-family: 'Poppins', sans-serif;
    max-width:  100%;
    margin: 0 auto;
    // overflow-x: hidden;
    // background: linear-gradient(131.1deg, rgba(54, 133, 251, 0.05) 0%, rgba(54, 133, 251, 0) 73.29%);
}

.container
{
    // max-width: 1170px;
    max-width: 95%;
    margin: 0 auto;

}